<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Cristian Caratti portfolio website" name="Cristian Caratti portfolio website" />
    <meta name="google" content="notranslate" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" /> -->
    <link href="../static/assets/favicon.ico" rel="icon" />
    <title>Cristian Caratti - Website</title>
    <style>
      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
      body {
        display:flex;flex-direction:column;margin: 2rem;
      }
      article {
        margin: auto 20vw;
        line-height:1.5
      }
      pre {
        border-left: 6px solid #00458b;
        font-size: 1rem;
        line-height: 1.4;
        margin: 0 0 24px;
        max-width: 100%;
        overflow: auto;
        padding: 24px;
        width: 100%;
      }
      code {
        font-family: consolas, "Liberation Mono", courier, monospace;
        padding: 0 3px;
        word-wrap: break-word;
      }
      code,
      pre {
        background-color: #eee;
      }

      pre {
        display: block;
        font-family: monospace;
        white-space: pre;
      }
      @media only screen and (max-width: 1000px) {
        article {
              margin: auto 5vw  
            }
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      h1,h2,h4,blockquote,p,pre,footer {
        margin: 1em 0 0 0;
      }
      footer {
        text-align: center;
      }
    </style>
  </head>

  <body>  
  <article>
    <h1>The Python password checker</h1>
    <br>
    <img src="../static/assets/haveibeenpawned-resized.png" alt="Have I been Pawned website homepage">
  <p>The idea and purpose behind this Python project is let you check if your passwords have been leaked in the past without compromise your security.</p>
      <p>For this purpose you could have just used the popular website: <em><a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a></em> that let you check if your email or password has been pawned.😱</p><br>
      <p>While I don't have any concern to enter my email in their website, what about my password? 🤔 <br>
      Personally, I don't think it is always a good idea to send my password over the internet.<br>
       Even if the website connection is secure, when I press submit my password is sent through the internet to the website server and someone could be on the middle and intercepted it.
      As a developers, we can create secure and free way to achieve our goal and it involves some coding.<br>
      Obviously, there are many service out there that under the hood has implemented this type of check like 1passord, Keeper, Sticky Password etc.<br>
      So, the more secure way to doing it is built a password checker using the <a href="https://haveibeenpwned.com/API/v3">haveibeenpwned</a> Password API.</p>
      <br>
      <blockquote class="col-xs-8 col-md-offset-2">
            <p>"When it comes to security sometimes the best thing is to trust no one."</p>
            <p class="pull-right">🧐</p>
      </blockquote>
        

<br>

<h2>Building a password checker in Python</h2>
  <p>First we need to import some modules from the <a href='https://docs.python.org/3/library/index.html'>Python Standard Library</a></p>
  <p>The <strong><em>request</em></strong>: to be able to request data via the internet</p>
The <strong><em>hashlib</em></strong>: to hash a password since we don't want to send over the internet our password.
  <pre>
    <code >
    import requests
    import hashlib
    import sys # to remove after the version 1.0.1
    </code>
  </pre>
<p>Our first function is the one that we need to establish a connection to the API and get a response from the server based on our query:
</p>  
<pre><code >
  def request_api_data(query_char):
      url =  'https://api.pwnedpasswords.com/range/' >+ query_char
      res = requests. get (url)
      # check
      if res.status_code != 200 :
          raise RuntimeError( f'Error fetching {res.status_code}, check the API and try again' )
      return res 
  </code></pre>
  <br>
  
  <h3>Short intro to <strong>Hashing</strong></h3>
  <p>A security step in building our solution.<br>
  The ideas is not to send over the internet the real password, in fact you should never store user password to a DB without hashing it first;
  Since we're using the Password API, and we want to use a 'fast' encryption algorithm, we will used the SHA1.<br>
  Ex.<a href="https://passwordsgenerator.net/sha1-hash-generator/">Sha1 hash generator</a>
  password123 = CBFDAC6008F9CAB4083784CBD1874F76618D2A97 in SHA1.</p>

  <p><strong><b>Hashing is idempotent</b></strong>, or let's say, it's like a Pure function: giving the same input (password) it always return the same value (hash)</p>

  <h3>The query parameter</h3>
  <p>Plus, to improve anonimity, instead of give to the API the entire hash of a password, we just gave a little bit of it, just the first 5 characters.<br>
  We are applying here a 'key anonimity technique' to dont give away our personal information.</p>
  <p><strong><b>The idea here is to give only the first 5 characters of the hashed password and the API send us back a list of all hashed 'leaked' passwords starting with those 5 characters.
  On our side we can then check the 'tail' left of our hashed password against the list we got from the query (if it has been leaked).</strong></b></p>

  <p>At this point we can implement the functions that are going to process the data and giving us an output, if found.</p>
  <p>We need to create a function to read the response.<br>
  This function check the tail of the hashed password against the list and look for how many times have been hacked.
  </p>
  <pre><code > def pwned_api_check (password): 
  # Check the password if it exists in API response using the haslib library
      sha1password = hashlib.sha1(password.encode( 'utf-8' )).hexdigest().upper()
      first5_chars,tail = sha1password[:], sha1password[ >5 :]
      # here we pass the first 5 chars for the check on the hashed password 
      response = request_api_data(first5_chars)
      return get_password_leak_count(response,tail)

  # Underneath a temporarely function just to check we get the hashed version of leaked passwords, don't use it in production! 😅 
  # this function is going to be replaced with: get_password_leak_count() 
  def read_response(response):
      print(response.text)
    # Ex. expected results in the format: &lt;hashed passwords&gt;:&lt;number of time the password has been leaked&gt;
    # FHSEU347RG23HYGJ432Y3253BBNN:2 
    # FHSEUGFYW4G55H432Y325748HBFF:4 
    # XHUAQIW3B4IR78YE3TF483CUIFHG:1 
    # ... 
  
  </code></pre>
  <pre><code >
  # left to implement
  def get_password_leak_count (hashes, hash_to_check):
      pass
      # check if the password exist in the API response 
  </code></pre>
  <h3>Implementing: get_password_leak_count()</h3>
  <pre><code >def get_password_leak_count(hashes, hash_to_check):
      # this line to get a 'tuple comprehension' that has the number of leaks for hash
      hashes = ( line.split ( ':' ) for line in hashes.text.splitlines())
      for h, count in hashes: 
          #  print (h,count ) # Expected: XHUAQIW3B4IR78YE3TF483CUIFHG  1 
          # now we need to check from all the hashes leaked if mine is there (I do not provive this to the service, is only on my machine)
          if h == hash_to_check: # hash_to_check  is stored securely in the 'tail' parameter in the  previous function
              return count 
      return 0 
  </code></pre>

  <h3>Last, we need to create a main fuction that is going to receive the arguments that we give in the terminal</h3>
  <pre><code >def main(args):
      for password in args: 
          count  = pwned_api_check(password)
          if count: 
              print(f'{password} was found {count} times... Yout should change your password!')
          else:
              print(f'{password} NOT found. You are good to go!')
      return 'done.'
  </code></pre>
<br>
  <p>Last but not the least,
  we are passing our password in the Terminal and this information is stored in our machine memory (try arrow up 😧 ), and this is not super secure. 
  <br> So, if we want to be completely safe against possible attacks, we can read passwords from a text file.</p>
  <br>

  <h3>Implementing the password checker using a text file.</h3>
  <p>To achieve that, we can comment out our function main() and create a new function that is reading a single/list of passwords from a txt file and pass it as a argument into the checking function.</p>
  <pre>
        <code >
      with open ('pass.txt') as password s: 
          # skip first line of instructions
          next (passwords)
          list_passwords = [line.rstrip('\n')  for line in passwords]
          #  print (list_passwords)
          for password in list_passwords: 
              count  = pwned_api_check(password)
              if count: 
                  print ( f'{password} was found {count} times... Yout should change your password!' )
              else:
                  print(f'{password} NOT found. You are good to go!')
      </code>
  </pre>
</div>

<div>
    <p>Where you can find the code:</p>
    <a class="btn btn-primary" href="https://github.com/criscara-dev/password-checker" target="_blank">GitHub Repo</a>
    <!-- <p>If you don't want to run the app but to have an idea of how it works, you can watch the video I made.</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/o-4344QQphA" title="The password checker in Python 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</div>
<br>

      <p>I think security is not always considered a top priority for some people but for me is paramount.<br>
          The code in Github is available to fork and for further implementations.
          I built an offline tool that I am using quite often and I enjoyed the building process, using different Python libraries and API service.
      </p>

  </article>
</body>
</html>