<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Cristian Caratti portfolio website" name="Cristian Caratti portfolio website" />
    <meta name="google" content="notranslate" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <link href="../static/assets/favicon.ico" rel="icon" />
    <title>Cristian Caratti - Website</title>
  </head>

  <body id="thank-you">
    <article>Thank you! <br> I will in touch with you, shortly!</article><br>
    <button type="button" style="background-color: #3b9bc4;padding: .5rem; border-radius: 5px;border: #3b9bc4;"><a style="color: #fff; text-decoration: none;" href="/index.html">Home</a></button>
  </body>
</html>

</body>
</html>